.navbar {
    position: sticky;
    top: 0;
    z-index: 200;
}


/* top-photo */

.top-photo {
    height: 300px;
    width: 100%;
    position: relative;
    padding: 0;
}

.top-photo img,
.first-photo,
.second-photo {
    letter-spacing: 1px;
    line-height: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 20px;
    font-weight: bolder;
    transition: all 1s ease-in-out;
}

.text1,
.text2 {
    text-align: center;
}

.first-photo {
    background: url(../images/cover1.jpeg) center/cover scroll no-repeat;
}

.second-photo {
    background: url(../images/cover2.jpeg) center/cover scroll no-repeat;
}

.hide {
    display: none;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid rgb(100, 241, 95);
    margin: 0 3px;
}

.bg-red {
    background-color: red;
}

.circle-container {
    display: flex;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}


/* top-photo */

.home-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(209, 202, 202);
}

.resetOrFevers {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgb(10, 10, 10);
}

.choice-btn {
    width: 50%;
    height: 100%;
    background-color: red;
    position: absolute;
    transition: all 1s ease-in-out;
}

.move-block {
    margin-left: 100px;
}

.choiceFever {
    opacity: 0;
    position: absolute;
    top: 70px;
    right: 0;
    border-right: none;
    transition: all 1s ease-in-out;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: 50;
}

.display-fevers {
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    width: 100%;
    visibility: visible;
}

.fevers {
    background-color: white;
    border: 1px solid black;
    display: grid;
    place-items: center;
    height: 60px;
    z-index: 51;
}

.drugs-store {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 50;
    transition: all 1s ease-in-out;
}

.drugs-display {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.drugs {
    width: 200px;
    height: 300px;
    border-radius: 2%;
    box-shadow: 1px 1px 3px rgb(10, 10, 10);
    overflow: hidden;
    margin: 15px auto;
    background-color: white;
    padding: 8px;
    transition: all 0.4s ease-in-out;
}

.drugs:hover {
    cursor: pointer;
}

.drugs-height {
    height: 200px;
}

.drugs img {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #000;
    border-radius: 2%;
}

.drugs .price {
    color: yellowgreen;
}

.prefooter {
    background-color: rgb(209, 202, 202);
    padding: 20px auto;
    text-align: center;
}

.prefooter h3 {
    margin: 0;
    padding: 20px 0;
    color: white;
}