#preloader{
    background:#f5edf2 url('../img/gif.gif') no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
a{
    color: #f5edf2;
}
.container a {
    color: #0a0a0a;
    font-family: monospace;
}
#arrow:hover{
    color: #0a0a0a;
}

/*Footer*/
.footer{
    width: 100%;
    font-size: 15px;
    background-color: #1aab40;
    text-align: center;
  }
.footer div span a{    
    text-decoration: none;
  }
  #mail:hover{
      text-decoration: none;
  }
.fa-facebook-square{
    color: #696969;
    font-size: 30px;  
}
.fa-facebook-square:hover{
    color: blue;
}
.fa-youtube{
    color: #696969;
    font-size: 30px;  
}
.fa-youtube:hover{
   color: red;
}
.fa-twitter-square{
    color: #696969;
    font-size: 30px;  
}
.fa-twitter-square:hover{
   color: #00bfff;
}
#ourname{
    color: #0a0a0a;

}

.brand-title{
    font-size: 25px;
    color: #f5edf2;
 }
  a{
    color: #f5edf2;
}

#arrow:hover{
    color: #0a0a0a;
}
.nav-menu{
    padding: auto;
    margin: auto;
}
  nav ul li a {
    color: #f5edf2 !important;
    font-size: 18px;
    font-family: monospace;
    margin-right: 15px;
    text-align: center;
  }
  
  .nav-link:hover{
           opacity: 100%;
           background: #0a0a0a;
           border-radius: 10px;           
}

 .container h3{
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: solid;
    border-color: #1aab40;   
    font-family: serif;
 }
 .container i{
    color: #1aab40;
 }
 .container p{
    font-family: monospace;
 }
 .progress{
    font-size: 15px;
    font-family: monospace;
    margin-top: 3rem;
 }
 .carousel-inner h5{
    border-bottom: solid;
    border-color: #f5edf2;
    background-color: #0a0a0a;
    font-family: serif;
 }
 .carousel-inner{
    margin: 3%;
 }
 .carousel-inner p{
    color: #0a0a0a;
    background-color: #f5edf2;
    font-family: monospace;
 }
 .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
 }

.fruits {
 margin: 3%;
position: relative;
}
  
.first-txt {
text-align: center;
position: absolute;
font-family: monospace;
top: 200px;
left: 50px;
background-color:  #f5edf2; 
opacity: .6;
 }
  
.display-4{
    margin-top: 1rem;
   border-left: solid;
border-color: #1aab40;
font-family: serif;  
}
.sleep{
    margin: 3%;
}
#sleep{
    font-family: monospace;
}
iframe{
    margin-left: 2rem;
}
#hand{
    margin: 3%;
}
 .about {
text-align: center;
position: absolute;
font-family: monospace;
top: 200px;
background-color: #0a0a0a; 
opacity: .7;
color: #f5edf2;
width: 100%;
 }
.container h2{
  font-family: serif;
  border-bottom: solid;
  max-width: 100px;
  border-color: #1aab40;
}
#do{
  max-width: 180px; 
}
.container p{
    font-family: monospace;
    font-size: 18px;
}
.container ul li{
     font-family: monospace;
    font-size: 15px;
}
.icon{
    padding: 1px;
}
#rx{
    color: #1aab40;
}
#appointment{
    color: #1aab40;
}
#advice{
    color: #1aab40;
}
#location{
    border-bottom: solid;
    border-color: #1aab40;
    max-width: 220px;
    margin: 1rem;
    font-family: serif;
}