/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
nav {
    position: fixed;
    background: #fff;
    z-index: 1000;
    width: 100%;
    padding: 20px;
    display: none;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  }
  .navbar-brand{
      font-family: sans-serif;
  }
  .nav-menu {
    line-height: 44px;
    margin-bottom: 0;
    padding-top: 16px;
  }
  nav ul li {
    margin-right: 20px;
    font-family: monospace;
    font-size: 20px;
    margin-left: 40px;
    text-align: center;
  }
  
  nav ul li a {
    padding: 2px 0 0 0;
    position: relative;
    
    font-size: 16px;
    color: black;
    font-family: monospace;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-decoration: none;
  }
  
  .nav-link:hover{
           opacity: 100%;
           background: white;
           background-size: 50px;
           box-sizing: border-box;
           border-radius: 15px;
           
}
#bt{
    
    font-family: monospace;
    color: black;
}
#bt:hover{
    text-decoration: none;
    
}

/* body */
h2{
    font-family: sans-serif;
    padding-top: 15px;
    
}
.carousel-caption{
    font-family: monospace;
    color: black;
}







/*Footer*/
.footer{
    width: 100%;
    font-size: 15px;
    background-color: #1aab40;
    text-align: center;
  }
.footer div span a{
    
    text-decoration: none;
  }
  #mail:hover{
      text-decoration: none;
  }
.fa-facebook-square{
    color: #696969;
    font-size: 30px;  
}
.fa-facebook-square:hover{
    color: blue;
}
.fa-youtube{
    color: #696969;
    font-size: 30px;  
}
.fa-youtube:hover{
   color: red;
}
.fa-twitter-square{
    color: #696969;
    font-size: 30px;  
}
.fa-twitter-square:hover{
   color: #00bfff;
}
#ourname{
    color: black;

}