#preloader{
    background:#f5edf2 url('../img/gif.gif') no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
a{
    color: #f5edf2;
}
.container a {
    color: #0a0a0a;
    font-family: monospace;
}
#arrow:hover{
    color: #0a0a0a;
}

/*Footer*/
.footer{
    width: 100%;
    font-size: 15px;
    background-color: #1aab40;
    text-align: center;
  }
.footer div span a{    
    text-decoration: none;
  }
  #mail:hover{
      text-decoration: none;
  }
.fa-facebook-square{
    color: #696969;
    font-size: 30px;  
}
.fa-facebook-square:hover{
    color: blue;
}
.fa-youtube{
    color: #696969;
    font-size: 30px;  
}
.fa-youtube:hover{
   color: red;
}
.fa-twitter-square{
    color: #696969;
    font-size: 30px;  
}
.fa-twitter-square:hover{
   color: #00bfff;
}
#ourname{
    color: #0a0a0a;

}

*{
 box-sizing: border-box;
}
 body{
    margin: 0;
    padding: 0;
 }
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1aab40;
    color: #f5edf2;
 }
 .brand-title{
    font-size: 25px;
 }
 .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
 }
 .navbar-links li {
     list-style: none;
     border-style: solid;
     border-radius: 20px;
     margin-right: 10px;
     font-family: monospace;
     font-size: 15px;
 }
 .navbar-links li a {
    text-decoration: none;
    color: #f5edf2;
    padding: 1rem;
    display: block;
 }
 .navbar-links li:hover{
    background-color: #0a0a0a;
 }
  .toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
 }
 .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #f5edf2;
    border-radius: 10px;
 } 
 @media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
 .navbar-links {
    display: none;
     width: 100%;
 }
 .navbar {
    flex-direction: column;
    align-items: flex-start;
 }
 .navbar-links ul {
    width: 100%;
    flex-direction: column;
 }
 .navbar-links li{
    text-align: center;
 }
 .navbar-links li a{
    padding: .5rem 1rem;
 }
 .navbar-links .active {
    display: flex;
 } 
} 

.collapse li {
     list-style: none;
     text-align: center;
     border-style: solid;
     border-radius: 10px;
     margin-right: 10px;
     font-family: monospace;
     font-size: 15px;
     padding: 10px;
     margin-top: 10px;
 }
 .collapse li:hover{
     background-color: #0a0a0a;

 }
 .container h3{
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: solid;
    border-color: #1aab40;   
    font-family: serif;
 }
 .container i{
    color: #1aab40;
 }
 .container p{
    font-family: monospace;
 }
 .progress{
    font-size: 15px;
    font-family: monospace;
    margin-top: 3rem;
 }
 .carousel-inner h5{
    border-bottom: solid;
    border-color: #f5edf2;
    background-color: #0a0a0a;
    font-family: serif;
 }
 .carousel-inner{
    margin: 3%;
 }
 .carousel-inner p{
    color: #0a0a0a;
    background-color: #f5edf2;
    font-family: monospace;
 }
 .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
 }

.fruits {
 margin: 3%;
position: relative;
}
  
.first-txt {
text-align: center;
position: absolute;
font-family: monospace;
top: 200px;
left: 50px;
background-color:  #ffffff; 
opacity: .6;
 }
  
.display-4{
    margin-top: 1rem;
   border-left: solid;
border-color: #1aab40;
font-family: serif;  
}
.sleep{
    margin: 3%;
}
#sleep{
    font-family: monospace;
}
iframe{
    margin-left: 2rem;
}
#hand{
    margin: 3%;
}
