#preloader{
    background:white url('../img/gif.gif') no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
a{
    color: white;
}
a:hover{
	color: black;
}
/*Footer*/
.footer{
    width: 100%;
    font-size: 15px;
    background-color: #1aab40;
    text-align: center;
  }
.footer div span a{
    
    text-decoration: none;
  }
  #mail:hover{
      text-decoration: none;
  }
.fa-facebook-square{
    color: #696969;
    font-size: 30px;  
}
.fa-facebook-square:hover{
    color: blue;
}
.fa-youtube{
    color: #696969;
    font-size: 30px;  
}
.fa-youtube:hover{
   color: red;
}
.fa-twitter-square{
    color: #696969;
    font-size: 30px;  
}
.fa-twitter-square:hover{
   color: #00bfff;
}
#ourname{
    color: black;

}

*{
 box-sizing: border-box;
}
 body{
 	margin: 0;
 	padding: 0;
 }
 .navbar{
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	background-color: #1aab40;
 	color: white;
 }
 .brand-title{
 	font-size: 25px;
 }
 .navbar-links ul {
 	margin: 0;
 	padding: 0;
 	display: flex;
 }
 .navbar-links li {
     list-style: none;
     border-style: solid;
     border-radius: 20px;
     margin-right: 10px;
     font-family: monospace;
     font-size: 15px;
 }
 .navbar-links li a {
 	text-decoration: none;
 	color: white;
 	padding: 1rem;
 	display: block;
 }
 .navbar-links li:hover{
 	background-color: black;
 }
 /* .toggle-button{
 	position: absolute;
 	top: .75rem;
 	right: 1rem;
 	display: none;
 	flex-direction: column;
 	justify-content: space-between;
 	width: 30px;
 	height: 21px;
 }
 .toggle-button .bar{
 	height: 3px;
 	width: 100%;
 	background-color: white;
 	border-radius: 10px;
 } */
/* @media (max-width: 600px) {
 	.toggle-button {
 		display: flex;
 	}
 .navbar-links {
 	display: none;
     width: 100%;
 }
 .navbar {
 	flex-direction: column;
 	align-items: flex-start;
 }
 .navbar-links ul {
 	width: 100%;
 	flex-direction: column;
 }
 .navbar-links li{
 	text-align: center;
 }
 .navbar-links li a{
 	padding: .5rem 1rem;
 }
 .navbar-links .active {
 	display: flex;
 } 
} */